mat-toolbar{
    height: 100px;
    background-color: black;
}
.example-spacer {
    flex: 1 1 auto;
  } 
  #EnterpriseName{
    letter-spacing: 0.5em;
    color: antiquewhite;
    font-size:xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: grab;
    transition: all ease-in-out 0.5s;
}
#EnterpriseName:hover{
    padding: 20px;
    transition: all ease-in-out 0.5s;
}
#logo{
    width: 150px;
}

#logo:hover{
    padding: 10px;
    transition: 0.9s;
}