<html>
    <body>
        <div id="body"><br>
            <div id="Header" style="text-align:center;">
                <img id="logo" src="./assets/images/trident.jpg" alt="" class="d-flex justify-content-start">
                <small style="color:white;">TRIDENT</small>
                     
              </div>
        

              <!--Login card-->
             
                <mat-card>
                    <br>
                    <button mat-button id="login" (click)="showTemplate=false"> <h2>L O G I N</h2></button>|
                    <button mat-button id="admin" (click)="showTemplate=true"><h2>A D M I N</h2></button>
                   
                    <hr>
                    <div *ngIf="showTemplate, then admin, else login">

                    </div>

                    <ng-template #login>
                        <form [formGroup]="Login" *ngIf="Login">
                            <br>
                            <mat-form-field style="width: 300px;">
                                <mat-label>EMAIL</mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field><br><br><br>
                            <mat-form-field style="width: 300px;">
                                <mat-label>PASSWORD</mat-label>
                            <input matInput formControlName="Password">
                            </mat-form-field><br>
                            <small class="d-flex justify-content-end">Forgot Password?</small>
                            <a [routerLink]="['/register']" class="d-flex justify-content-end">Create an Account</a>
                            <br><br>                            
                            <button [class.d-none]="Login.invalid" class="btn btn-outline-info" (click)="Onsubmit(Login.value)"><mat-icon> vpn_key</mat-icon></button>
                         </form>

                    </ng-template>

                    <ng-template #admin>
                        <br>
                        <mat-form-field style="width:300px;"> 
                            <mat-label>ADMIN EMAIL</mat-label>
                            <input matInput #email>
                        </mat-form-field>
                        <br>
                        <mat-form-field style="width:300px;"> 
                            <mat-label>ADMIN PASSWORD</mat-label>
                            <input matInput #password>
                        </mat-form-field>
                        <br><br>
                        <button [class.d-none]="email.value==''" class="btn btn-outline-info" (click)="checkForAdmin(email.value, password.value)"><mat-icon> vpn_key</mat-icon></button>
                    </ng-template>
                 
                </mat-card>
     

                        
                        <!-- {{Login.value | json}} -->
        </div>
    </body>
</html>