<app-header></app-header> 
<body>
  <mat-toolbar>
    <span>PRODUCTS</span>
    <span class="example-spacer"></span>
    <button (click)="GotoCartPage()"  mat-icon-button><mat-icon matBadge={{BadgeCount}} matBadgeColor="warn">shopping_cart</mat-icon></button>
  </mat-toolbar>
  <div class="d-flex justify-content-center">
    <carousel  style="width: 700px;" class="d-flex justify-content-center" >
      <div class="carousel-cell">
        <img src="./assets/Products/Productcarousal1.jpg" class="img">
      </div>
      <div class="carousel-cell">
        <img src="./assets/Products/PC2.jpg" class="img">
      </div>
      <div class="carousel-cell">
        <img src="./assets/Products/PC4.jpg" class="img">
      </div>
      <div class="carousel-cell">
        <img src="./assets/Products/PC5.jpg" class="img">
      </div>
      <div class="carousel-cell">
        <img src="./assets/Products/PC6.jpg" class="img">
      </div>
      <div class="carousel-cell">
        <img src="./assets/Products/PC7.webp" class="img">
      </div>
    </carousel>

  </div><br>
  <div style="border: 1px solid grey;padding:15px;">
    <mat-icon>headset</mat-icon> <b>HEADPHONES </b>
  </div>
 
   
    <br>
    <div class="d-flex justify-content-center">
      <mat-card class="example-card" *ngFor="let items of ProductData; let i=index">
        <mat-card-header>
          <mat-card-title>{{items.title}}</mat-card-title>
          <mat-card-subtitle>{{items.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{items.img}}>
        <mat-card-actions>
          <hr>
          <button mat-button (click)="addTocart(items)"><mat-icon>add_shopping_cart</mat-icon></button>
         <small>PRICE : {{items.DefaultPrice|currency:'INR'}}</small>&nbsp;
          <button class="btn btn-outline-info" trigger="hover" mdbPopover={{items.Description}}
          mdbPopoverTitle={{items.title}} placement="right">!</button>
        </mat-card-actions>

      </mat-card>
        
    </div><br><br>    

    <div style="border: 1px solid grey;padding:15px;">
      <mat-icon>supervisor_account</mat-icon><b>ACCESSORIES </b>
    </div><br><br>

    <div class="d-flex justify-content-center">    
      <mat-card class="example-card" *ngFor="let items of ClothingData">
        <mat-card-header>
          <mat-card-title>{{items.title}}</mat-card-title>
          <mat-card-subtitle>{{items.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{items.img}}>
        <mat-card-actions>
          <hr>
          <button mat-button (click)="addTocart(items)"><mat-icon>add_shopping_cart</mat-icon></button>
          <small>PRICE : {{items.DefaultPrice |currency:'INR'}}</small>&nbsp;
          <button class="btn btn-outline-info" trigger="hover" mdbPopover={{items.Description}}
          mdbPopoverTitle={{items.title}} placement="right">!</button>
        </mat-card-actions>
      </mat-card>
    </div><br><br><br>
    
   
    <div>
      <app-footer></app-footer>
    </div>
</body>


