<mat-toolbar>
    <img id="logo" src="./assets/images/trident.jpg">
    <span class="example-spacer"></span>
    <p [routerLink]="['/Pages/home']" id="EnterpriseName">TRIDENT</p>
</mat-toolbar>
<mat-toolbar id="chooser">
    <button mat-button (click)="EarphonesShow = true" id="button">EARPHONES</button>
    <button mat-button (click)="EarphonesShow = false" id="button">CLOTHING</button>
</mat-toolbar><br><br><br><br><br>

<body>
    <div *ngIf="EarphonesShow,then headset,else clothing">

    </div>
    <ng-template #headset>
        <div class="d-flex justify-content-center" >
       
            <form [formGroup]="ProductAdd"> 
                <h1>H E A D S E T</h1>
                <mat-icon>headset</mat-icon>    
          
        
                <fieldset style="background-color:rgb(247, 254, 255);">
                   
              
                    <mat-form-field appearance="outline">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Name" formControlName="title">
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>Product Subtitle</mat-label>
                        <input matInput placeholder="Subtitle" formControlName="subtitle">
                    </mat-form-field><br>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input type="number" matInput placeholder="Amount" formControlName="price">
                    </mat-form-field> &nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Brief" formControlName="Description" >
                        </textarea>
                    </mat-form-field><br>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Image URL</mat-label>
                        <input matInput placeholder="URL" formControlName="img"  >
                    </mat-form-field>
        
        
        
                </fieldset>
                <br>
                <button [class.d-none]="ProductAdd.invalid" class="btn btn-outline-primary" (click)="submit1(ProductAdd.value)">PUSH</button>&nbsp;&nbsp;
                <button [class.d-none]="ProductAdd.invalid" class="btn btn-outline-danger" (click)="ProductAdd.reset()">Reset</button>
                <!-- {{ProductAdd.value | json}} -->
            </form>
                 
        </div>

        <!--Strat-->
        <div class="container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  id="accordian">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon> insert_drive_file</mat-icon> HEADSET DATABASE
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                        <table class="table table-hover table-dark" id="table">
                            <thead>
                                <tr>
                                     <th scope="col">ID</th>
                                     <th scope="col">ITEM</th>
                                     <th scope="col">TITLE</th>
                                    <th scope="col">SUBTITLE</th>
                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of earPhoneArray">
                                    <td scope="row">{{items.id}}</td>
                                    <td><img src='{{items.img}}' height="100px"></td>
                                    <td>{{items.title}}</td>
                                    <td>{{items.subtitle}}</td>
                                    <td>{{items.Description}}</td>
                                    <td>{{items.price}}</td>
                                    <td ><button class="btn btn-outline-danger"><mat-icon>delete_outline</mat-icon></button><br><br>
                            <button class="btn btn-outline-primary"><mat-icon>edit</mat-icon></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-expansion-panel>
        </mat-accordion>   
          

        </div>
        
    <!--Strat-->
       
        <br>
        <app-footer></app-footer>
    </ng-template>

    <ng-template #clothing>
        <div class="d-flex justify-content-center">
            <form [formGroup]="ProductAdd2">
                <h1>C L O T H I N G</h1><mat-icon>group</mat-icon>  
        
                <fieldset style="background-color:rgb(255, 241, 241);">
                   
              
                    <mat-form-field appearance="outline">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Name" formControlName="title">
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>Product Subtitle</mat-label>
                        <input matInput placeholder="Subtitle" formControlName="subtitle">
                    </mat-form-field><br>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Price</mat-label>
                        <input type="number" matInput placeholder="Amount" formControlName="price">
                    </mat-form-field> &nbsp;
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Brief" formControlName="Description" >
                        </textarea>
                    </mat-form-field><br>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Image URL</mat-label>
                        <input matInput placeholder="URL" formControlName="img"  >
                    </mat-form-field>
        
        
        
                </fieldset>
                <br>
                <button [class.d-none]="ProductAdd2.invalid" class="btn btn-outline-primary" (click)="submit2(ProductAdd2.value)">PUSH</button>&nbsp;&nbsp;
                <button [class.d-none]="ProductAdd2.invalid" class="btn btn-outline-danger" (click)="ProductAdd2.reset()">Reset</button>
                <!-- {{ProductAdd.value | json}} -->
            </form>        
        </div>
        <app-footer></app-footer>

    </ng-template>
   



</body>





<br>
<br>
