<mat-toolbar style="height:100px;background-color: black;" class="d-flex justify-content-between">
    <img id="logo" [routerLink]="['/admin-home']" src="./assets/images/trident.jpg" height="100px" width="150px">
    <p style="color:antiquewhite;letter-spacing: 30px;">WELCOME ADMIN</p>
    <p  style="color:white;letter-spacing:20px;">TRIDENT</p>
</mat-toolbar>
<br>
<div class="d-flex justify-content-center" >
       
    <form [formGroup]="ProductAdd"> 
        <h1>H E A D S E T</h1>
        <mat-icon>headset</mat-icon>    
  

        <fieldset style="background-color:rgb(247, 254, 255);">
           
      
            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="Name" formControlName="title">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field appearance="outline">
                <mat-label>Product Subtitle</mat-label>
                <input matInput placeholder="Subtitle" formControlName="subtitle">
            </mat-form-field><br>

            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input type="number" matInput placeholder="Amount" formControlName="price">
            </mat-form-field> &nbsp;
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Brief" formControlName="Description" >
                </textarea>
            </mat-form-field><br>

            <mat-form-field appearance="outline">
                <mat-label>Image URL</mat-label>
                <input matInput placeholder="URL" formControlName="img"  >
            </mat-form-field>



        </fieldset>
        <br>
        <button [class.d-none]="ProductAdd.invalid" class="btn btn-outline-primary" (click)="submit1(ProductAdd.value)">PUSH</button>&nbsp;&nbsp;
        <button [class.d-none]="ProductAdd.invalid" class="btn btn-outline-danger" (click)="ProductAdd.reset()">Reset</button>
        <!-- {{ProductAdd.value | json}} -->
    </form>
         
</div>

<!--Strat-->
<div class="container">
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"  id="accordian">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon> insert_drive_file</mat-icon> HEADSET DATABASE
            </mat-panel-title>
            </mat-expansion-panel-header>
                <table class="table table-hover table-dark" id="table">
                    <thead>
                        <tr>
                             <th scope="col">ID</th>
                             <th scope="col">ITEM</th>
                             <th scope="col">TITLE</th>
                            <th scope="col">SUBTITLE</th>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of earPhoneArray">
                            <td scope="row">{{items.id}}</td>
                            <td><img src='{{items.img}}' height="100px"></td>
                            <td>{{items.title}}</td>
                            <td>{{items.subtitle}}</td>
                            <td>{{items.Description}}</td>
                            <td>{{items.price}}</td>
                            <td ><button class="btn btn-outline-danger" (click)="delete(items)"><mat-icon>delete_outline</mat-icon></button><br><br>
                    <button class="btn btn-outline-primary" (click)="editEar(items,template)"><mat-icon>edit</mat-icon></button></td>

                    <!--Popup of edit-->
                    <ng-template #template>

                        <div style="padding:20px;">
                           
                            <label for="title">Title </label>
                            <input type="text" id="title" name="title" [(ngModel)]="EditForm.title"  ><br><br>
    
                            <label for="item">item </label>
                            <input type="text" id="item" name="img" [(ngModel)]="EditForm.img"  ><br><br>
    
                            <label for="subtitle">subtitle </label>
                            <input type="text" id="subtitle" name="subtitle" [(ngModel)]="EditForm.subtitle" ><br><br>
    
                            <label for="Description">Description </label>
                            <input type="text" id="Description" name="Description" [(ngModel)]="EditForm.Description"  ><br><br>
    
                            <label for="price">Price </label>
                            <input type="number" id="price" name="price" [(ngModel)]="EditForm.price" ><br><br>

                            <label for="Defprice">DefaultPrice </label>
                            <input type="number" id="Defprice" name="Defprice" [(ngModel)]="EditForm.DefaultPrice"  ><br><br>

                            <button class="btn btn-outline-success" (click)="Submit2(items.id)">Save</button>&nbsp;&nbsp;
                            <button class="btn btn-outline-danger">Cancel</button>

                            <!-- {{ProductEdit.value | json}} -->
                        
                        </div>                      

                    </ng-template>


                       </tr>
                    </tbody>
                   
                </table>
            </mat-expansion-panel>
</mat-accordion>   
  

</div>


