<div>
    <div>
        <p *ngIf="Result.length,then case2,else case1"></p>
        <p class="valid">&nbsp;Minimum 8 characters<br>
    </div>
    <div>
        <p *ngIf="Result.digits && Result.lower && Result.upper,then case2,else case1"></p>
        <p class="valid">&nbsp;Minimum 1 Number, Upper & Lower Case<br>
    </div>
    <div>
        <p *ngIf="Result.nonWords,then case2,else case1"></p>
        <p class="valid">&nbsp;Minimum 1 Special character<br>
    </div>
    <div>
        <p *ngIf="Result.nospace,then case1,else case2"></p>
        <p class="valid">&nbsp;No space<br>
    </div>
</div>


<ng-template #case1>
    <mat-icon style="color:red;">highlight_off</mat-icon>
</ng-template>
<ng-template #case2>
    <mat-icon style="color:green;">check_circle_outline</mat-icon>   
</ng-template>
