
<mat-sidenav-container>
            <mat-sidenav #sidenav mode="over"><b>ACCOUNT</b>
                <hr>
                    <mat-nav-list>
                            <button mat-list-item (click)="changePWD()"><mat-icon>build</mat-icon> Change Password</button>
                            <button mat-list-item (click)="logout()"><mat-icon>exit_to_app </mat-icon> Logout</button>
                            <button mat-list-item><mat-icon> directions_car</mat-icon>Book a Test Ride</button>
                    </mat-nav-list>
            </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
                    <button mat-button (click)="sidenav.toggle()"><mat-icon>account_circle</mat-icon></button>
                    <button mat-button>HOME</button>
                    <button mat-button>ABOUT</button>
                    <button mat-button [routerLink]="['/Pages/product']">PRODUCTS</button> 
                    <span class="example-spacer"></span> 
                    <p id="EnterpriseName">TRIDENT</p>
        </mat-toolbar>
        </mat-sidenav-content>
        <div>
            
        </div>
</mat-sidenav-container>
<br>

<div>
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'slide'" [dark]="true">
        <mdb-carousel-item>
          <img src="./assets/images/Corousal1.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h2>Electric Powertrain</h2>
            <h4>Model S platforms unite powertrain and battery technologies for unrivaled performance, range and efficiency. New module and pack thermal architecture allows faster charging and gives you more power and endurance in all conditions.</h4>

          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img src="./assets/images/Corousal2.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h2 style="color:white">I N T E R I O R</h2>
            <p style="color:white">Better than ever</p>
          </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="./assets/images/C.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h2 style="color:white">T H E&nbsp;&nbsp;  C Y B E R T R U C K</h2>
              <p style="color:white">BETTER UTILITY THAN A TRUCK WITH MORE PERFORMANCE THAN A SPORTS CAR

            </p>
            </div>
          </mdb-carousel-item>
      </mdb-carousel>
<br>


  <app-footer></app-footer>



