<!-- <button class="btn btn-primary" (click)="logout()">LOGOUT</button> -->
<body>   
    <div id="body">
    <mat-toolbar>
        <p id="EnterpriseName">TRIDENT</p>
        <span class="example-spacer">
        <button mat-button>HOME</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button>PRODUCTS</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button>ABOUT</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button>ACCOUNT</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    </mat-toolbar>
    </div>
    <div class="container">
        
    </div>
</body>