<app-header></app-header> 

<div id="body">
  <div *ngIf="SWITCH,then pwdChange,else emailCheck" >

 </div>
</div>
 
<app-footer></app-footer>


 <ng-template #emailCheck>
  <mat-card id="emailCard">
    <br><br>
    <small style="color:rgb(255, 255, 255);">P A S S W O R D&nbsp;&nbsp;  C H A N G E</small><br><br><br>
    <hr>
    <form [formGroup]="EmailConfirm">
      <br>
        <mat-form-field >
         
            <mat-label>UserName</mat-label>
            <input [readonly]="read" matInput formControlName="Username"/>
          </mat-form-field><br>
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input [readonly]="read" matInput formControlName="Email" #email>
          </mat-form-field><br>

          <button [disabled]="EmailConfirm.invalid" class="btn btn-outline-danger" (click)="resetpwd(email.value)">SEND LINK</button>
          <!-- {{EmailConfirm.value | json}} -->
    </form> 
    <!-- <p [hidden]="!Hide" style="text-align:right;">{{ Minute }}:{{ Seconds }}</p><br> -->

    <!-- <mat-form-field [class.d-none]="!Hide" appearance="outline" class="d-flex justify-content-start">
      <mat-label>OTP</mat-label>
      <input matInput #OTP>

      <button mat-mini-fab style="background-color:green;" (click)="switch(OTP.value)"><mat-icon>done</mat-icon></button>  
    </mat-form-field>    -->
</mat-card>

 </ng-template>



<ng-template #pwdChange>
  <!-- <mat-card id="resetMatCard"><br>
    <small style="color:rgb(255, 255, 255);">P A S S W O R D&nbsp;&nbsp;  C H A N G E</small><br><br><br>
    <hr>
    <mat-form-field style="width: 300px;">
      <mat-label>Password</mat-label>
      <input type="password" matInput #passwd (keyup)="PasswordChanged(passwd.value)" [type]="pwdhide1 ? 'password' : 'text'">
      <mat-icon style="font-size:20px;"  matSuffix (click)="pwdhide1 = !pwdhide1">{{pwdhide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field><br>
  
    <mat-form-field style="width: 300px;">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput #Cpwd (keyup)="ConfirmPwd(Cpwd.value)" [type]="pwdhide2 ? 'password' : 'text'">
    <mat-icon style="font-size:20px;"  matSuffix (click)="pwdhide2 = !pwdhide2">{{pwdhide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>  
  <app-password-validator [pwd]="pwdChecker" (PasswordResult)="MainPassword($event)"></app-password-validator> <br>
  <button class="btn btn-outline-success"  (click)="onSubmit()">SUBMIT</button> 
  </mat-card>   -->
</ng-template>

