<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div id="body" style="color:rgb(196, 196, 196)">   
    <br>
    <div class="container d-flex justify-content-center">
        <div class="d-inline-block">
            <ul>
                <li><h2> Know About us</h2>
                    <ul>
                        <li>Careers</li>
                        <li>Press releases</li>
                        <li>Trident Gifts</li>
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="d-inline-block">
          
            <ul>
                <li><h2>Connect with us</h2>
                    <ul>
                      <li>Facebook <i class="fa fa-facebook-f" style="font-size:15px;color:rgb(0, 89, 255)"></i></li> 
                        <li>Twitter <i class="fa fa-twitter" style="font-size:15px;color:skyblue"></i></li>
                        <li>Instagram <i class="fa fa-instagram" style="font-size:15px;color:rgb(255, 255, 255)"></i></li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <div class="d-inline-block">          
            <ul>
                <li><h2>Help desk</h2>
                    <ul>
                      <li>COVID-19 & Trident</li> 
                        <li>100% Purchase protection </li>
                        <li>Help</li>
                    </ul>
                </li>                
            </ul>
        </div>
        
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:white">
        <img id="logo" src="./assets/images/trident.jpg">
   
</div>
